<div class=" col-md-offset-1 col-md-3 ">
  <div class="informations" data-offset-top="0" data-spy="affix">
    <div class="edit-content">
      <%if(informations.avatar=="no_avatar"){%>   
      <img src="/images/default.svg" class="profile_image">
      <%  }else{%>
      <img src="<%=path_avatar%>/<%=informations.id_user%>/<%=informations.avatar%>" class="profile_image">
      <%  }%>
      <span class="edit" data-toggle="modal" data-target="#myModal" data-yourparameter="<%=informations.id_user%>">
        <i class="icon-edit"></i>
      </span>
    </div>
    <div>
      <span class="img-title"><%=informations.first_name%> <%=informations.last_name%></span>

      
<%if(informations.age===informations.age && informations.age != ''){%>
  <span class="profil-age"><%=informations.age%> ans </span>
  <%}%>

  <%if(informations.age===informations.age && informations.address!=''){%>-<%}%>

      <span><%=informations.address%> </span>
    

    </div>
    <div class="etat text-left">
      <span class="etat-profil">L'état de mon profil</span>
      <div class="progress-profil ">
        <span class="progress-val-profil"><%=informations.percent%>%</span>
        <span class="progress-bar-profil"><span class="progress-in-profil" style="width: <%=informations.percent%>%"></span></span>
      </div>
    </div>
    <div class="items list-group">
      <a href="/informations" class="list-group-item" id="profile_link"><i class=" icon-profil x"></i><span>Mes informations</span></a>
      <a href="/friends" class="list-group-item" id="friends_link"><i class=" icon-friends x "></i><span>Mes amis</span></a>
      <a href="/followed-charts" class="list-group-item" id="followed_link"><i class=" icon-public x"></i><span>Mes abonnements</span></a>
      <a href="/events" class="list-group-item" id="events_link"><i class=" icon-event x"></i><span>Mes événements</span></a>
      <a href="/charts" class="list-group-item" id="charts_link"><i class=" icon-chart x "></i><span>Mes courbes</span></a>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        
        <!-- <i class="icon-arrow-right" id="right"></i>-->
        
        <form action="/uploadAvatar" method="post" enctype="multipart/form-data" id="form">
          
          <div>
          <span>Ajouter une photo</span>
          <input id="upload" class="upload_btn file" name="file" type="file" ></input>
          </div>
          <div id="crop-box"></div>
          <a href="#" id="rotate"><img class="rotate_img" src="../images/rotate.svg"></a>
          <input type="hidden" id="imagebase64" name="imagebase64">

          <a href="#" class="submit_upload btn btn-default">Valider</a>
          <!-- <button type="submit" id="event-form" class="upload-result" name="submit" value="Valider" >Ajouter</button> -->
        </form>
      </div>
    </div>
  </div>
</div>