<!doctype html>
<html>
    <head>
        <%- include layouts/head.ejs %>
        <link href="/css/sweetalert2.css" rel="stylesheet">
        <%- include ../public/js/facebook.js %>
        <%- include ../public/js/messages.js %>
        <script src="/js/sweetalert2.min.js"></script>
    <head>
    <body class="home">
        <%- include layouts/header.ejs %>
        <main>
        <%- include layouts/messages.ejs %>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profil" style="padding: 15px">
                           <form action="/create-event">
                                <button class="btn  btn-block informations_btn" type="submit"><i class="icon-event x"></i>Ajouter un evenement</button>
                            </form>
                            <div class="events row">
                                <div class="chart-header">
                                    <!-- <span style="color: #3dbfb7;display: inline-block;font-family: NanamiProRegular7;">Courbe :</span> -->
                                    <span><a style="font-family: NanamiProRegular7;color: #000;text-decoration: none;" href="/chart/<%=data.id_chart%>"><%=data.title%></a></span>
                                    <i class="<%=privacy%>"></i>
                                    <div class="dropdown dropdown-chart">
                                      <button class="dropdown-toggle btn btn-default " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span><i class="fa fa-pencil" style="font-size:15px"></i></span>
                                      </button>
                                      <ul class="dropdown-menu-chart dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="editChart/<%=data.id_chart%>" >Modifier courbe</a></li>
                                        <li><a href="#" onclick="delete_chart(data.id_chart);return false;">Supprimer courbe</a></li>
                                      </ul>
                                    </div>
                                  <!--  <span id="date" style="display:block;"></span> -->
                                </div>
                                <div class="chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                <script type="text/javascript">


function delete_chart(id_chart){
    swal({
      title: 'Supprimer la courbe?',
      text: "Cette courbe sera supprimée et vous ne pourrez plus la trouver.",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Supprimer la courbe',
      cancelButtonText: 'Annuler'
    }).then(function() {
        $.ajax({
          url:'/deleteChart/'+id_chart,
          type: 'GET',
          dataType: 'json',
          success:function(data){
            var json = JSON.parse(data);
            if(json.msg=='success'){
                console.log('deleted yesssss !!!');
            }
          }
        });
        $('.'+id_chart).remove();
    })
}



                                    var xItems = <%-xItems%>;
                                    var json = <%-json%>;
                                    //console.log(json);
                                    var processed_json = new Array();
                                    $.map(json, function (obj, i) {
                                        processed_json.push({name: obj.title,y: parseFloat(obj.note),x:obj.creation_date,id:parseInt(obj.id_event)});
                                    });
                                    $('.chart').highcharts({
                                        title:{
                                            text:null
                                        },
                                        tooltip:{
                                            enabled:false
                                        },
                                        chart: {
                                            type: 'spline',
                                        },
                                        exporting:{
                                            enabled:false,
                                        },
                                        xAxis: {
                                            gridLineWidth: 1,
                                            gridLineColor:"#edeaea",
                                            categories: xItems,
                                                        plotLines: [{
                                                    color: '#000000',
                                                    value: xItems
                                                }]
                                        },
                                        yAxis: {
                                            gridLineColor:"#edeaea",
                                            title: {
                                                text: null
                                            }
                                        },
        plotOptions:{

          tooltip:false,
          allowPointSelect: true,
          lineWidth:1,
          series:{
            color:"#000000",
            verticalAlign:'bottom',
            dataLabels:{
              useHTML:true,
              style:{
                fontSize:"11px",color:"#eb0c4b"
              },
              enabled:true,
              allowOverlap: true,
              padding:0,
              formatter : function(){
                return "<a class='events_chart' href='/event/"+this.point.id+"'>" + this.point.name + "</a>";
              }
            },
            cursor:'pointer',
            allowPointSelect: true,
            point : {
              events : {
                click : function(event,i){
                  location.href = "/event/"+event.point.id;
                  //alert(event.point.id);
                }
              }
            },
            marker:{
              enabled:true,
              fillColor:'#eb0c4b',
              width:15,
              height:15
            }
          },
          enableMouseTracking: false
        },
                                        credits: {
                                          enabled: false
                                        },
                                        series: [{
                                          showInLegend: false,
                                          data: processed_json
                                        }]
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="/js/site.js"></script>
        <%- include ../public/js/crop_avatar.js %>
        <script type="text/javascript">
            var date = moment("<%-data.creation_date%>").locale('fr').format("D MMMM YYYY");
            $('<p>Le '+date+'</p>').appendTo('#date');
        </script>
    </body>
</html>
