<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mes Courbes - Immortality</title>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link href="/css/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
      <link rel="stylesheet" type="text/css" href="css/normalize.css">
      <link rel="stylesheet" href="css/basic-styles.css" media="screen">
      <link rel="stylesheet" href="css/header.css" media="screen">
      <link rel="stylesheet" href="/css/okayNav.css" media="screen">
      <link rel="stylesheet" href="/css/croppie.css" />
      <link href="/css/sweetalert2.css" rel="stylesheet">
      <script src="/js/jquery.js"></script>
      <script src="/js/jquery.okayNav.js"></script>
    <!--  <script src="/js/highcharts.js"></script>
<script src="/js/exporting.js"></script>
  -->
      <script src="http://code.highcharts.com/stock/highstock.js"></script>
      <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>


      <script src="/js/bootstrap.js"></script>
      <script src="/js/croppie.js"></script>
      <script src="/js/sweetalert2.min.js"></script>
      <script type="text/javascript">



      var charts = <%-charts%>;
      $(function () {
      $.each(charts.data, function (i, dataset) {
      var pro = [];
      var data_scroll = new Array();
      var a={};
      for (var i = 0; i < dataset.name.length; i++) {
      a={};
      a.x=dataset.xData[i];
      a.y=dataset.yData[i];
      a.name=dataset.name[i];
      a.id=dataset.id[i];
      pro.push(a);


      }
      for (var i = 0; i < pro.length; i++) {
        data_scroll.push({name:pro[i].name,y:pro[i].y,id:pro[i].id});
      }



      $('<div class="chart-spacing '+dataset.id_chart+'" ></div>'+
        '<div class="chart '+dataset.id_chart+'">'+
        //'<span>Courbe : </span>'+
        '<span><a class="chart_link" href="/chart/'+dataset.id_chart+'">'+dataset.chartName+'</a></span>'+
        '<i class="'+dataset.privacy+'"></i>'+
        //'<span>Le '+dataset.creation_date+'</span>'+
        '<div class="dropdown dropdown-chart">'+
          '<button class="dropdown-toggle btn btn-default " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
            '<span><i class="fa fa-pencil" style="font-size:15px"></i></span>'+
          '</button>'+
          '<ul class="dropdown-menu-chart dropdown-menu" aria-labelledby="dropdownMenu1">'+
            '<li><a href="create-event" id="'+dataset.id_chart+'" class="update_last_chart" data-id="'+dataset.id_chart+'" >Ajouter evenement</a></li>'+
            '<li><a href="editChart/'+dataset.id_chart+'" >Modifier courbe</a></li>'+
            '<li><a href="#" onclick="delete_chart('+dataset.id_chart+');return false;">Supprimer courbe</a></li>'+
          '</ul>'+
        '</div>'+
        '</div>')
      .appendTo('#container');



      $('<div class="'+dataset.id_chart+'" width="600px"></div>').appendTo('#container').highcharts({
        title:{
          text:null
        },
        tooltip:{
          enabled:false
        },
        chart:{
          type:'spline'
        },
        exporting:{
          enabled:false,
        },
        credits:{
          enabled: false
        },
        plotOptions:{

          tooltip:false,
          allowPointSelect: true,
          lineWidth:1,
          series:{
            color:"#000000",
            verticalAlign:'bottom',
            dataLabels:{
              align : "center",
              y : -10,
              useHTML:true,
              style:{
                fontSize:"12px",color:"#eb0c4b"
              },
              enabled:true,
              allowOverlap: true,
              padding:0,
              formatter : function(){
                return "<a class='events_chart' href='/event/"+this.point.id+"'>" + this.point.name + "</a>";
              }
            },
            cursor:'pointer',
            allowPointSelect: true,
            point : {
              events : {
                click : function(event,i){
                  location.href = "/event/"+event.point.id;
                  //alert(event.point.id);
                }
              }
            },
            marker:{
              enabled:true,
              fillColor:'#3dbfb7',
              width:15,
              height:15
            }
          },
          enableMouseTracking: false
        },
        xAxis:{
          gridLineWidth: 1,
          gridLineColor:"#edeaea",
          categories: dataset.xData,
          min:data_scroll.length>15 ? (data_scroll.length-15) : null,
          //max:data_scroll.length>3 ? 2 : null,
          plotLines:[{
            color: '#000000',
            //value: dataset.xData
          }]
        },
        scrollbar: {
          enabled : data_scroll.length>15 ? true : false
        },
        yAxis: {
          max:5,
          min:0,
          gridLineColor:"#edeaea",
          title: {
            text: null
          }
        },
        series: [{
          showInLegend: false,
          data: data_scroll
        }]
      });
    $('</div>').appendTo('#container');
    });
    });



    </script>
    <title>Mes courbes</title>

</head>
<body class="home" >
  <%- include layouts/header.ejs %>
  <main>
  <%- include layouts/messages.ejs %>
  <div class="container">
    <div class="row">
      <%- include layouts/profileNav.ejs %>
      <div class="col-md-7">
        <div class="profil" style="padding: 15px">

          <form action="/create-chart">
            <button class="btn  btn-block informations_btn" type="submit"><i class="icon-chart x"></i>Ajouter une courbe</button>
          </form>
          <div>

            <div id="container"></div></div>
            <div id="empty">
            <% for(var i=0; i<empty_charts.length; i++) {%>
              <div class="chart-spacing <%= empty_charts[i].id_chart %>" ></div>
                <div class="chart <%= empty_charts[i].id_chart %>">
                <span><a class="chart_link" href="/chart/<%= empty_charts[i].id_chart %>"><%= empty_charts[i].title %></a></span>
                <i class="'+dataset.privacy+'"></i>
                <div class="dropdown dropdown-chart">
                  <button class="dropdown-toggle btn btn-default " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span><i class="fa fa-pencil" style="font-size:15px"></i></span>
                  </button>
                  <ul class="dropdown-menu-chart dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="create-event" id="<%= empty_charts[i].id_chart %>" class="update_last_chart" data-id="<%= empty_charts[i].id_chart %>" >Ajouter evenement</a></li>
                    <li><a href="editChart/<%= empty_charts[i].id_chart %>" >Modifier courbe</a></li>
                    <li><a href="#" onclick="delete_chart(<%= empty_charts[i].id_chart %>);return false;">Supprimer courbe</a></li>
                  </ul>
                </div>
                <div><span>aucun événement</span></div>
                </div>

            <% } %>
            </div>











          </div>
        </div>
      </div>
    </div>
  </div>
  </main>
  <script src="/js/site.js"></script>

    <%- include ../public/js/crop_avatar.js %>




  <script type="text/javascript">
  $('body').on('click','.update_last_chart', function(event){
    event.preventDefault();

    var id = $(this).data('id');
    console.log(id);
    $.post( "/updateLastChart",{id:id}).done(function(data){
      location.href = "create-event";
    });
  });

    $('#charts_link').addClass('items_active');


function delete_chart(id_chart){
    swal({
      title: 'Supprimer la courbe?',
      text: "Cette courbe sera supprimée et vous ne pourrez plus la trouver.",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Supprimer la courbe',
      cancelButtonText: 'Annuler'
    }).then(function() {
        $.ajax({
          url:'/deleteChart/'+id_chart,
          type: 'GET',
          dataType: 'json',
          success:function(data){
            var json = JSON.parse(data);
            if(json.msg=='success'){
                console.log('deleted yesssss !!!');
            }
          }
        });
        $('.'+id_chart).remove();
    })
}


  </script>
</body>
</html>
