<!doctype html>
<html>
<head>
<title>Modifier événement</title>
<%- include layouts/head.ejs %>
   <link rel="stylesheet" href="/css/croppie.css" />
   <script src="/js/croppie.js"></script>
</head>
<body class="home">
<div class="loading hidden" id="loading">
    <img src="/images/reload.svg">
  <span> la modification de votre événement est en cours ...</span>
</div>
  <%- include layouts/header.ejs %>
  <main>
    <div class="container">
      <div class="row">
        <%- include layouts/profileNav.ejs %>
        <div class="  col-md-7">
        <div class="box">
          <span class="box-title">Modifier un événement</span>
          
           <form class="form-horizontal" action="/updateEvent" method="post" enctype="multipart/form-data" id="form">
            <div class="form-group">
              <label  class="col-sm-2 control-label">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="title" id="title" value="<%=event.title%>">
                <input type="hidden" class="form-control" name="id_event"  value="<%=event.id_event%>">
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
               <textarea class="form-control" rows="4" name="description" ><%=event.description%></textarea>
             </div>
           </div>

           <div class="form-group">
            <label  class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
             <input type="date" id="date" class="form-control datepicker date-style" name="date" data-value="<%=event.start_date%>">
           </div>
         </div>

         <div class="form-group">
          <label  class="col-sm-2 control-label">Je note</label>
          <div class="col-sm-10">
            <input type="text" id="event-slider" name="note" value="2" />
          </div>
        </div>

                <div class="form-group custom_select">
          <label  class="col-sm-2 control-label">Courbe</label>
          <div class="col-sm-10">
            <select class="custom_select selectpicker " name="courbe">
              <%  if(type!="0"){
              for(var i=0;i < charts.length;i++) { 
              %>
              <%if(parseInt(charts[i].id_chart)==parseInt(event.chart_id)){ %>
              <option selected data-content="<%=charts[i].title%><i class=<%=iconTab[i]%>></i>" value="<%=parseInt(charts[i].id_chart)%>"></option>
              <% } else { %>
              <option data-content="<%=charts[i].title%><i class=<%=iconTab[i]%>></i>" value="<%=parseInt(charts[i].id_chart)%>"></option>
              <% }}} 
                else{
               %>
              <option data-content="<%=chart.title%><i class=<%=chart.iconTab%>></i>" value="<%=parseInt(chart.id_chart)%>"></option>
              <%}%>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-2 control-label">Photos</label>
          <div class="col-sm-10">
          <input id="input-id" class="file" name="file" type="file" multiple></input>
        </div>
        </div>
        <div class="form-group">
              <label  class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                <button type="submit" id="event-form" name="submit" value="Valider" class="box-button btn btn-default">Modifier</button>
              </div>
            </div>
                    <div class="form-group">
        <div class="share social col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn share-fb"><i class="fa fa-facebook"></i><span>Partager</span></button>
          <button type="submit" class="btn share-gp"><i class="fa fa-google-plus"></i><span>Partager</span></button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</main>
   









<!-- endbuild -->
<script type="text/javascript" src="/js/crop_avatar.js"></script>
<script type="text/javascript">


  $("#input-id").fileinput();
  
    var $input = $('.datepicker').pickadate({
        monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
        format: 'd mmmm yyyy',
          formatSubmit:'yyyy/mm/dd',
        selectMonths: true,
        hiddenName: true,
        selectYears: 100,
        onSet:function(){
              document.getElementById('date').value=this.get();
        }
    });

  var navigation = $('#nav-main').okayNav();

  $(document).ready(function () {
    $("#event-slider").ionRangeSlider({
     hide_min_max: true,
     type: "single",
     min: 0,
     max: 5,
     from: <%-event.note%>,
     step:0.1,
     onChange : function (data) {
      console.log(data.from);
      document.getElementById('event-slider').value=data.from; 
    },
    onFinish: function (data) {
      console.log(data.from);
      document.getElementById('event-slider').value=data.from; 
    }
  });
  });


$("#form").submit(function(event){
    $('.loading').removeClass('hidden');    
    })






</script>
</body>
</html>
