<!doctype html>
<html>
<head>
<%- include layouts/head.ejs %>
   <link rel="stylesheet" href="/css/croppie.css" />
   <script src="/js/croppie.js"></script>
   <script type="text/javascript">
var privacy = <%- chart.chart_privacy_types_id_privacy %>;
$('.selectpicker').selectpicker('val', privacy);
   </script>
</head>
<body class="home">
<div class="loading hidden " id="loading">
    <img src="/images/reload.svg">
  <span> la création de votre courbe est en cours ...</span>
</div>
  <%- include layouts/header.ejs %>

  <main>

    <div class="container">
    

      <div class="row">
        <%- include layouts/profileNav.ejs %>
        <div class="box  col-md-7">

          <span class="box-title">Modifier courbe</span>
          <div class="col-md-offset-1 col-md-10">
           <form id="cf" class="form-horizontal" action="/updateChart" method="post"  >
            <div class="form-group">
              <label  class="col-sm-2 control-label">Titre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="title" id="title" value="<%= chart.title %>" required>
                <input type="hidden" class="form-control" name="id_chart"  value="<%=chart.id_chart%>">
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">
               <textarea class="form-control" rows="4" name="description" required><%= chart.description %></textarea>
             </div>
           </div>

          
        <div class="form-group">
          <label  class="col-sm-2 control-label">Partage</label>
          <div class="col-sm-10">
            <select class="selectpicker" name="privacy" required>
            <% if(chart.chart_privacy_types_id_privacy == 0){ %>     
              <option selected data-content="Privée<i class=icon-private></i>" id="0" value="0"></option>
              <option data-content="Amis<i class=icon-friends></i>" id="1" value="1"></option>
              <option data-content="Publique<i class=icon-public></i>" id="2" value="2"></option>    
            <% } %>
            <% if(chart.chart_privacy_types_id_privacy == 1){ %>     
              <option data-content="Privée<i class=icon-private></i>" id="0" value="0"></option>
              <option selected data-content="Amis<i class=icon-friends></i>" id="1" value="1"></option>
              <option data-content="Publique<i class=icon-public></i>" id="2" value="2"></option>    
            <% } %>
            <% if(chart.chart_privacy_types_id_privacy == 2){ %>     
              <option data-content="Privée<i class=icon-private></i>" id="0" value="0"></option>
              <option data-content="Amis<i class=icon-friends></i>" id="1" value="1"></option>
              <option selected data-content="Publique<i class=icon-public></i>" id="2" value="2"></option>    
            <% } %>                 
            </select>
          </div>
        </div>
        
        <div class="form-group">
              <label  class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                <button type="submit" id="btn" name="submit" value="Valider" class="box-button btn btn-default">Suivant</button>
              </div>
            </div>

      </form>
    </div>
  </div>
</div>
</div>
</main>
   










<!-- endbuild -->
<script type="text/javascript" src="/js/crop_avatar.js"></script>

<script type="text/javascript">
  $("#input-id").fileinput();
  var $input = $('.datepicker').pickadate({
    format:'yyyy-mm-dd',
    onSet:function(){
      document.getElementById('date').value=this.get(); 
    }
  });
  var navigation = $('#nav-main').okayNav();
  $(document).ready(function () {
    $("#event-slider").ionRangeSlider({
     hide_min_max: true,
     type: "single",
     min: 0,
     max: 5,
     from: 1.0,
     step:0.1,
     onChange : function (data) {
      console.log(data.from);
      document.getElementById('event-slider').value=data.from; 
    },
    onFinish: function (data) {
      console.log(data.from);
      document.getElementById('event-slider').value=data.from; 
    }
  });
  });

$("#btn").click(function(event){
  if($("#cf").validate()){
    $("#cf").submit();    
  }
});

//$('.selectpicker').selectpicker('val', '2');
</script>
</body>
</html>
