<!doctype html>
<html data-ng-app="App">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%> - Immortality</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/basic-styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/okayNav.css">
    <link rel="stylesheet" href="/css/ngGallery.css">
    <link rel="stylesheet" href="/css/screen.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.okayNav.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/ui-bootstrap.js"></script>
    <script src="/js/moment.js"></script>
        <script src="/js/moment-with-locales.js"></script>
    <script src="/js/ngGallery.js"></script>
    <!--croppie-->
    <link rel="stylesheet" href="/css/croppie.css" />
    <script src="/js/croppie.js"></script>
   <%- include ../public/js/event.js %>
   <!-- <%- include ../public/js/messages.js %> -->
    </head>
    <body class="home"  data-ng-controller="DemoController as ctrl" >
      <%- include layouts/header.ejs %>
      <main>
      <%- include layouts/messages.ejs %>
      <div class="container">
        <div class="row">
          <%- include layouts/profileNav.ejs %>
          <div class="  col-md-7">
            <div class="profil" style="padding: 15px">
              
              <div class="events row">
              <div class="row">
                <div class="col-md-12">
                </div>
                <div class="event-header">
                  <div class="event-left">
                    <a ng-href="/event/{{event.id_event}}" class="event-title">{{event.title}}</a>
                    <span class="event-date">{{'Le '+dateEvent(event.start_date)}} </span>
                  </div>
                  <div class="event-right">
                    <a ng-href="/chart/{{event.chart_id}}" class="event-chart">{{event.chart_name}}</a>
                    <i class=" icon-friends "></i>


                    <div ng-init="x = event.note">
                      <uib-rating ng-model="x" max="5" read-only="true" state-on="'green icon-star-filled'" state-off="'green icon-star-empty'" aria-labelledby="custom-icons-1"></uib-rating>
                    </div>
                    
                  </div>
                </div>
              </div>
              <!--row-->
              <div class="row">
                <div class="event-description col-md-12">
                  {{event.description}}
                </div>
              </div>
              <div class="row">
                <div class="event-images" class="popup-gallery">
                  <div thumbs-num="11">
                    <ng-gallery images=event.images ></ng-gallery>
                  </div>
                </div>
              </div>
              <div class="event-comment-like">
                <div class="like-btn"> <span ng-class="event.isLiked==true ? 'red' : ''" ng-click="addLike($event,event);increment(event)"><i class=" icon-heart "></i></span></div>
                <div>
                  <span class="green" ng-model="likeModel">{{event.likes.length}}</span>
                  <i class=" icon-heart "></i>
                  <div class="comments-btn" ng-click="show= !show">
                    <span class="green" ng-model="abc" >{{event.comments.length}}</span>
                    <i class="icon-comment "></i>
                  </div>
                </div>
              </div>
              <form  action="/postComment" method="post">
                <div class="comments" ng-init="show = false" ng-show="show">
                  <div class="comments-item" ng-repeat="comment in event.comments">
                    <div class="comments-container">
                      <img class="comments-img " ng-src="<%=path_avatar%>/{{comment.user.id_user}}/{{comment.user.avatar}}" >
                      <h5 class="comments-user-name">{{comment.user.first_name}}</h5>
                      <span class="comments-date">{{formatDate(comment.creation_date )}}</span>
                      <p>{{comment.content}}</p>
                    </div>
                  </div>
                  <div class="added"></div>
                  <div class="post-comment">
                    <img class="post-comment-img " src="<%=path_avatar%>/<%=informations.id_user%>/<%=informations.avatar%>" >
                    <input ng-model="content" id="com-{{$index}}"  type="text" placeholder="Votre commentaire ... "></input>
                    
                    <input ng-click="addComment($event,event,content);content=''"  type="submit" style="position: absolute; left: -9999px"/>
                    
                  </div>
                  
                </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    </main>
    <script src="/js/site.js"></script>
    <%- include ../public/js/crop_avatar.js %>

  </body>
</html>