<!doctype html>
<html data-ng-app="App">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mes événements</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/basic-styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/okayNav.css">
    <link rel="stylesheet" href="/css/ngGallery.css">
    <link rel="stylesheet" href="/css/screen.css">
    
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.okayNav.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/ng-infinite-scroll.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/ui-bootstrap.js"></script>
    <script src="/js/ngGallery.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <script type="text/javascript">
    
    var iApp = angular.module("App", ['infinite-scroll','ngAnimate','ui.bootstrap','jkuri.gallery']);
    iApp.filter('trusted', ['$sce', function ($sce) {
    return function(url) {
    return $sce.trustAsResourceUrl(url);
    };
    }]);
    iApp.controller('DemoController', function($scope, Reddit) {
      
      $scope.reddit = new Reddit();
      $scope.types = {private: false, public:false,friends:false};

      $scope.formatDate=function(date){
           return moment(date).fromNow();
      }
      $scope.dateEvent = function(date){
        return moment(date).locale('fr').format('D MMMM YYYY')
      }

//increment  likes length
      $scope.increment=function(event){
        event.likes.length +=1;
        console.log(event.likes.length);
        event.isLiked=true;
      }
//end increment  likes length

//ajout commentaire
      $scope.addComment = function (event,e,content) {
        event.preventDefault();
        console.log(e);  
        $.ajax({
          url:'/postComment',
          type: 'POST',
          data:{
            event_id:e.id_event,
            event_user_id:e.user_id,
            content:content
          },
          dataType: 'json',
          success:function(data){
            var json = JSON.parse(data);
            console.log(json);
            if(json.msg=='success'){   
              var html = $(
                '<div class="comments-item"'+
                '<div class="comments-container">'+
                '<img class="comments-img " src="http://localhost:85/api.immortality.life/application/uploads/avatars/<%-me.id_user%>/<%-me.avatar%>" >'+
                '<h5 class="comments-user-name"><%-me.first_name%></h5>'+
                '<span class="comments-date">'+json.data.creation_date+'</span>'+
                '<p>'+content+'</p>'+
                '</div></div>'
                );
              $('.added').append(html);

            }else{
              console.log('no :(')
            }
          }
        });
      }
      //end ajouter commentaire
      //ajouter like
      $scope.addLike = function (event,e) {
        event.preventDefault();
        console.log(e);  
        $.ajax({
          url:'/postLike',
          type: 'POST',
          data:{
            event_id:e.id_event,
            event_user_id:e.user_id
          },
          dataType: 'json',
          success:function(data){
            var json = JSON.parse(data);
            console.log(json);
            if(json.msg=='success'){   
              console.log('Liked !')

            }else{
              console.log('Erreur posting like')
            }
          }
        });
      }
//end ajouter like

    });
    
      

    
    
    iApp.factory('Reddit', function($http) {
    var Reddit = function() {
    this.events = [];
    this.busy = false;
    this.after = 0;
    };
    Reddit.prototype.nextPage = function() {
    if (this.busy) return;
    this.busy = true;
    var url = "/eventsAngular/"+<%-friends_data.id_user%>+"/" + this.after;
    $http.get(url).success(function(data) {
      
    var events =data.data;
    var images = [];
    var ress={};
    var thumb='';
    var img='';
    var nb = 0;

    for (var i = 0; i < events.length; i++) {
    for (var j=0;j<events[i].uploads.length;j++){
    
    ress.thumb='http://localhost:85/api.immortality.life/application/uploads/'+events[i].user_id+'/'+events[i].id_event+'/small_'+events[i].uploads[j].file;
    ress.img='http://localhost:85/api.immortality.life/application/uploads/'+events[i].user_id+'/'+events[i].id_event+'/'+events[i].uploads[j].file;
    images.push(ress);
    
    ress={};
    thumb='';
    img='';
    }
    events[i].images =images;
    images=[];
    //console.log(events[i].images);
    if( events[i].chart_privacy != "0" && events[i].chart_privacy != "1" )
    this.events.push(events[i]);
    }
    if(this.events.length==0){
      $('<span>Pas d\'événements publics</span>').appendTo('#container');
    }
    this.after = this.events.length;
    this.busy = false;
    }.bind(this));
    };
    return Reddit;
    });
    

    </script>
  </head>
  <body class="home"  data-ng-controller="DemoController as ctrl" >
    <%- include layouts/header.ejs %>
    <main>
    <div class="container">

      <div class="row">
        <%- include layouts/profileNavFriend.ejs %>
        <div class="  col-md-7">
          <div class="profil" style="padding: 15px">

<div id="container"></div>

            <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='3'  >
              <div class="events row" ng-init="deleted=false" ng-repeat="event in reddit.events" >
              <div  ng-hide="deleted">
                <div class="row">
                  <div class="col-md-12">
                  </div>
                  <div class="event-header">
                    <div class="event-left">
                      <a ng-href="/event/{{event.id_event}}" class="event-title">{{event.title}}</a>
                      <span class="event-date">{{'le '+dateEvent(event.start_date)}}</span>
                    </div>
                    <div class="event-right">
                      <a ng-href="/chart/{{event.chart_id}}" class="event-chart">{{event.chart_name}}</a>
                      <i class=" icon-friends "></i>





                      <div ng-init="x = event.note">
                        <uib-rating ng-model="x" max="5" read-only="true" state-on="'green icon-star-filled'" state-off="'green icon-star-empty'" aria-labelledby="custom-icons-1"></uib-rating>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="event-description col-md-12">
                    {{event.description}}
                  </div>
                </div>
                <div class="row">
                  <div class="event-images" class="popup-gallery">
                    <div thumbs-num="11">
                      <ng-gallery images=event.images ></ng-gallery>
                    </div>
                  </div>
                </div>
                <div class="event-comment-like">
               <div class="like-btn"><span ng-class="event.isLiked==true ? 'red' : ''" ng-click="addLike($event,event);increment(event)"><i class=" icon-heart "></i></span></div>
                                                 <span class="green" ng-model="likeModel" >{{event.likes.length}}</span>
                  <i class=" icon-heart "></i>
                  <div class="comments-btn" ng-click="show= !show">
                    <span class="green" ng-model="abc" >{{event.comments.length}}</span>
                    <i class=" icon-comment "></i>
                  </div>
                </div>
                <form  action="/postComment" method="post">
                  <div class="comments" ng-init="show = false" ng-show="show">
                    <div class="comments-item" ng-repeat="comment in event.comments">
                      <div class="comments-container">
                        <img class="comments-img " ng-src="http://localhost:85/api.immortality.life/application/uploads/avatars/{{comment.user[0].id_user}}/{{comment.user[0].avatar}}" >
                        <h5 class="comments-user-name">{{comment.user[0].first_name}}</h5>
                        <span class="comments-date">{{formatDate(comment.creation_date )}}</span>
                        <p>{{comment.content}}</p>
                      </div>
                    </div>
                    <div class="added"></div>
                    <div class="post-comment">
                      <img class="post-comment-img " src="http://localhost:85/api.immortality.life/application/uploads/avatars/<%=me.id_user%>/<%=me.avatar%>" >
                      <input ng-model="content" id="com-{{$index}}"  type="text" placeholder="Votre commentaire ... "></input>
                      
                      <input ng-click="addComment($event,event,content);content=''"  type="submit" style="position: absolute; left: -9999px"/>
                      
                    </div>
                    
                  </div>
                </form>
              </div>
              </div>
              <div ng-show='reddit.busy'>Loading data...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    <script type="text/javascript">

    
    $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
    });
    
    var navigation = $('#nav-main').okayNav();






    </script>
  </body>
</html>