<!doctype html>
<html data-ng-app="App">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mes Courbes</title>

      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/ion.rangeSlider.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css">
      <link rel="stylesheet" type="text/css" href="css/normalize.css">
      <link rel="stylesheet" href="css/basic-styles.css" media="screen">
      <link rel="stylesheet" href="css/header.css" media="screen">
      <link rel="stylesheet" href="/css/okayNav.css" media="screen">
      <link rel="stylesheet" href="/css/croppie.css" />
      <script src="/js/jquery.js"></script>
      <script src="/js/jquery.okayNav.js"></script>
      <script src="/js/highcharts.js"></script>
      <script src="/js/exporting.js"></script>
      <script src="/js/bootstrap.js"></script>
      <script src="/js/croppie.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script type="text/javascript">



      var charts = <%-charts%>;
      $(function () {
      $.each(charts.data, function (i, dataset) {
      console.log(dataset);
      var pro = [];
        var data_scroll = new Array();
      var a={};
      for (var i = 0; i < dataset.name.length; i++) {
      a={};
      a.x=dataset.xData[i];
      a.y=dataset.yData[i];
      a.name=dataset.name[i];
      a.id=dataset.id[i];
      pro.push(a);
      }
      for (var i = 0; i < pro.length; i++) {
        data_scroll.push({name:pro[i].name,y:pro[i].y,id:pro[i].id});
      }



      $('<div class="chart-spacing '+dataset.id_chart+'" ></div><div class="chart '+dataset.id_chart+'"><span>Courbe : </span><span><a class="chart_link" href="/chart/'+dataset.id_chart+'">'+dataset.chartName+'</a></span><span>Le '+dataset.creation_date+'</span>'+
        '</div>')
      .appendTo('#container');



      $('<div class="'+dataset.id_chart+'" width="600px"></div>').appendTo('#container').highcharts({
        title:{
          text:null
        },
        tooltip:{
          enabled:false
        },
        chart:{
          type:'spline'
        },
        exporting:{
          enabled:false,
        },
        credits:{
          enabled: false
        },
        plotOptions:{

          tooltip:false,
          allowPointSelect: true,
          lineWidth:1,
          series:{
            color:"#000000",
            verticalAlign:'bottom',
            dataLabels:{
              align : "center",
              y : -10,
              useHTML:true,
              style:{
                fontSize:"12px",color:"#eb0c4b"
              },
              enabled:true,
              allowOverlap: true,
              padding:0,
              formatter : function(){
                return "<a class='events_chart' href='/event/"+this.point.id+"'>" + this.point.name + "</a>";
              }
            },
            cursor:'pointer',
            allowPointSelect: true,
            point : {
              events : {
                click : function(event,i){
                  location.href = "/event/"+event.point.id;
                  //alert(event.point.id);
                }
              }
            },
            marker:{
              enabled:true,
              fillColor:'#3dbfb7',
              width:15,
              height:15
            }
          },
          enableMouseTracking: false
        },
        xAxis:{
          gridLineWidth: 1,
          gridLineColor:"#edeaea",
          categories: dataset.xData,
          min:0,
          max:data_scroll.length>15 ? 14 : null,
          plotLines:[{
            color: '#000000',
            //value: dataset.xData
          }]
        },
        scrollbar: {
          enabled : data_scroll.length>15 ? true : false
        },
        yAxis: {
          max:5,
          min:0,
          gridLineColor:"#edeaea",
          title: {
            text: null
          }
        },
        series: [{
          showInLegend: false,
          data: data_scroll
        }]
      });
      $('</div>').appendTo('#container');
      });
    });
    </script>
    <title>Mes courbes</title>
<%- include ../public/js/messages.js %>
</head>
<body class="home" >
  <%- include layouts/header.ejs %>
  <main>
  <%- include layouts/messages.ejs %>
  <div class="container">
    <div class="row">
      <%- include layouts/profileNav.ejs %>
      <div class="col-md-7">
        <div class="profil" style="padding: 15px">
        <!--
          <ul class="pager">
            <li class="previous">
              <input type="checkbox" id="private-checkbox" />
              <label for="private-checkbox">Privés<i class=" icon-private "></i>
              </label>
            </li>
            <li>
              <input type="checkbox" id="friends-checkbox" />
              <label for="friends-checkbox">Amis<i class=" icon-friends "></i>
              </label>
            </li>
            <li class="next">
              <input type="checkbox" id="public-checkbox" />
              <label for="public-checkbox">Publics<i class=" icon-public "></i>
              </label>
            </li>
          </ul>
          -->
          <form action="/create-chart">
            <button class="btn  btn-block informations_btn" type="submit"><i class="icon-chart x"></i>Ajouter une courbe</button>
          </form>
          <div>

            <div id="container"></div></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </main>





<script src="/js/site.js"></script>
<%- include ../public/js/crop_avatar.js %>
<script type="text/javascript">
  $('#followed_link').addClass('items_active');
</script>
</body>
</html>
