<!doctype html>
<html data-ng-app="App">
	<head>
		<%- include layouts/site.ejs %>
		<title>Amis</title>
		<link rel="stylesheet" href="/css/croppie.css" />
		<script src="/js/angular.min.js"></script>
		<script src="/js/ng-infinite-scroll.js"></script>
		<script src="/js/croppie.js"></script>
		<%- include ../public/js/facebook.js %>
		<%- include ../public/js/friends.js %>
	</head>
	<body class="home" data-ng-controller="DemoController">
		<div class="wait hidden " id="wait">
			<div class="col-md-offset-4 col-md-4">
				<img src="/images/reload.svg">
			</div>
			<div class="col-md-offset-4 col-md-4">
				<span> la création de votre événement est en cours ...</span>
			</div>
		</div>
		<%- include layouts/header.ejs %>
		<main>
		<div class="container">
			<div class="row">
				<%if(friend==false){%>
				<%- include layouts/profileNav.ejs %>
				<%}else{%>
				<%- include layouts/profileNavFriend.ejs %>
				<%}%>
				<div class="col-md-7">
					<div class="friends-box">
						<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='3'  >
							<div class="friends_block" ng-repeat="friend in reddit.friends" >
								<a ng-href="/{{friend.id_friend}}/informations">
								<img ng-src="{{friend.avatar =='no_avatar' && '/images/default.svg' || '<%=path_avatar%>/'+friend.id_friend+'/'+friend.avatar }}"></a>
								<a ng-href="/{{friend.id_friend}}/informations">
									<span class="friend_block_user">{{friend.first_name+' '+friend.last_name}}</span></a>
									<div class="friends_block_chart">
										<span class="friends_block_chart_text">{{friend.nbr}}</span><i class="icon-chart friends_block_chart_icon"></i>
									</div>
								</div>
								<div ng-show='reddit.busy'><img src="../images/rolling.svg" width="20px"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</main>
			<script src="/js/site.js"></script>
			<script type="text/javascript" src="/js/crop_avatar.js"></script>
		</body>
	</html>