<!doctype html>
<html data-ng-app="App">
    <head>
        <title>Accueil</title>
        <%- include layouts/site.ejs %>

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/basic-styles.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/ngGallery.css">


        <script src="/js/angular.min.js"></script>
        <script src="/js/ng-infinite-scroll.js"></script>
        <script src="/js/angular-animate.js"></script>
        <script src="/js/ui-bootstrap.js"></script>
        <script src="/js/ngGallery.js"></script>
        <script src="/js/moment.js"></script>
        <script src="/js/croppie.js"></script>
        <script src="/js/moment-with-locales.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <%- include ../public/js/home.js %>

        <script type="text/javascript">
        $(function() {
          var is_open = 0; // chat nav not opened
          var unreadTab = [];

          //open or close chat nav
          $('.chat__users').click(function(){
            if(is_open == 0){
              $('.chat').css({"bottom":"0px"});
              is_open = 1;
            }else{
              $('.chat').css({"bottom":"-350px"});
              is_open = 0;
            }
          })

          var socket = io();
          var nb = 0;
          var users = [];
          var messages = [];
          var opend_id;
          socket.emit('join', {id: '<%=informations.id_user%>'});

          socket.emit('connected', {
            id:'<%=informations.id_user%>',
            first_name:'<%=informations.first_name%>',
            last_name:'<%=informations.last_name%>',
          });

          socket.on("connected_users", function(data) {
            //$('#users').append($('<li id="'+data.id+'">').text(data.first_name+' '+data.last_name));
            $('#users').append('<li id="'+data.id+'"></li>');
            $("#"+data.id).text(data.first_name+' '+data.last_name);
            users[data.id] = {"first_name" : data.first_name, "last_name" : data.last_name, "id" : data.id };
            //console.log(users);
            nb++; // number of connected users
            //console.log(data); // log the data of the new connected user
            $('.chat__users').html('Amis en ligne: '+nb)
          });

          var current_user;

          $('body').on('click', 'li', function (event) {
            current_user = event.target.id;
            $('#messages').empty();

                          $.ajax({
    url:'/messages/'+<%=informations.id_user%>+'/'+event.target.id,
    type: 'GET',
    dataType: 'json',
    success:function(data){
      for(var k=0;k<data.data.length;k++){
        if(data.data[k].sender_id == <%=informations.id_user%>){
          $('#messages').append($('<li style="text-align:right">').addClass("chat_me").text(data.data[k].text));
        }else{
            $('#messages').append($('<li style="text-align:left">').text(data.data[k].text));
        }
      }

    //console.log("tawwa");
      }
      });
                //
                //console.log(users);
                opend_id = event.target.id;

                $('.chat_box').show();
                $('.chat_box_name').text(users[event.target.id].first_name+' '+users[event.target.id].last_name)
                $('.chat_box').css({"bottom":"0px"});

                
                  $('form').submit(function(){
                    console.log(current_user);
                    if($('#m').val() != ''){

                          $.ajax({
    url:'/addMessage',
    type: 'POST',
    data:{
    recipient_id:current_user,
    text:$('#m').val()
    },
    dataType: 'json',
    success:function(data){
    console.log("success");
    if(json.msg=='success'){
    console.log("tawwa");
      }}
      });

                    socket.emit('chat message', {from_id:'<%=informations.id_user%>', to_id : event.target.id, msg:$('#m').val()});
                    $('#messages').append('<li><span class="chat_me">'+$('#m').val()+'</span><li>');
                    //messages.push({msg : $('#m').val(), type : "me", id : event.target.id});
                    }
                    //$('#messages').append($('<li style="text-align:right">').append(("<span>").text($('#m').val())));
                    $('#m').val('');
                    return false;
                  });
                

          });

          socket.on("new_msg", function(data) {
            //messages.push({"msg" : data.msg, "type" : "friend", "id" : data.from_id});
            //console.log(messages);
            if( opend_id == data.from_id){
              $('#messages').append('<li><span class="chat_friend">'+data.msg+'</span><li>')
            }
            //else{
            //  $('#'+data.from_id).text(' NEW ')
            //}
          });



          //when a user disconnect
          socket.on("dis",function(data){
            $('#'+data.id).remove();
            nb--;
          })



        });








        </script>


    </head>
    <body class="home" data-ng-controller="DemoController as ctrl">
        <%- include layouts/header.ejs %>

<!--
<nav class="chat">
    <h2 class="chat__users"></h2>
    <ul id="users">
    </ul>
</nav>

<nav class="chat_box">
  <h6 class="chat_box_name"></h6>
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
</nav>

-->

        <main>
            <div class="container">
                <div class=" row">
                    <div class="col-md-7">


                        <!--row-->
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="user">
                                    <% if(informations.avatar=="no_avatar"){ %>
                                        <img src="/images/default.svg" class="img-circle">
                                    <%  }else{ %>
                                        <img src="<%=path_avatar%>/<%=informations.id_user%>/<%=informations.avatar%>" class="edit-img">
                                    <% } %>
                                    <span><%=informations.first_name%> <%=informations.last_name%></span>
                                </div>
                            </div>
                        <div class="col-xs-10">
                            <div class="create">
                                <a href="/create-chart"><i class="orange icon-chart xx"></i><span>Créez une courbe</span></a>
                                <div class="ligne"></div>
                                <a href="create-event"><i class="red xx icon-event"></i><span>Créez un événement</span></a>
                            </div>
                        </div>
                    </div>
                    <!--endrow-->
                    <!--row-->
                    <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='3'  >
                      <div class="row" ng-repeat="event in reddit.events ">

                        
                        <div class="col-xs-2">
                          <div class="user">
                            <a href="/{{event.id_user}}/events"><img ng-src="<%=path_avatar%>/{{event.id_user}}/{{event.avatar}}" class="home_img" ></a>
                            <a href="/{{event.id_user}}/events"><span class="home_name">{{event.first_name+' '+event.last_name}}</span></a>
                          </div>
                        </div>

                        <div  class="col-xs-10">
                          <div class="home-event"  >
                            <div class="events row" >

                              <div class="row">
                                <div class="col-md-12">
                                </div>
                                <div class="event-header">
                                  <div class="event-left">
                                    <a ng-href="/event/{{event.id_event}}" class="event-title">{{event.title}}</a>
                                    <span class="event-date">{{'Le '+dateEvent(event.start_date)}}</span>
                                  </div>
                                  <div class="event-right">
                                    <a ng-href="/chart/{{event.chart_id}}" class="event-chart">{{event.chart_name}}</a>
                                    <i ng-class="event.chart_privacy == 0 ? 'icon-private' : event.chart_privacy == 1 ? 'icon-friends' : 'icon-public' "></i>
                                    <div ng-init="x = event.note">
                                      <uib-rating ng-model="x" max="5" read-only="true" state-on="'green icon-star-filled'" state-off="'green icon-star-empty'" aria-labelledby="custom-icons-1"></uib-rating>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="event-description col-md-12">
                                  {{event.description}}
                                </div>
                              </div>

                              <div class="row">
                                <div class="event-images" class="popup-gallery">
                                  <div thumbs-num="11">
                                    <ng-gallery images=event.images ></ng-gallery>
                                  </div>
                                </div>
                              </div>

                              <div class="event-comment-like">
                                <div class="like-btn"> <span ng-class="event.isLiked==true ? 'red' : ''" ng-click="addLike($event,event);increment(event)"><i class=" icon-heart "></i></span></div>
                                <div>
                                  <span class="green" ng-model="likeModel">{{event.likes.length}}</span>
                                  <i class=" icon-heart "></i>
                                  <div class="comments-btn" ng-click="show= !show">
                                    <span class="green" ng-model="abc" >{{event.comments.length}}</span>
                                    <i class="icon-comment "></i>
                                  </div>
                                </div>
                              </div>

                              <form  action="/postComment" method="post">
                                <div class="comments" ng-init="show = false" ng-show="show">
                                  <div class="comments-item" ng-repeat="comment in event.comments">
                                    <div class="comments-container">
                                      <img class="comments-img " ng-src="<%=path_avatar%>/{{comment.user[0].id_user}}/{{comment.user[0].avatar}}" >
                                      <h5 class="comments-user-name">{{comment.user[0].first_name}}</h5>
                                      <span class="comments-date">{{formatDate(comment.creation_date )}}</span>
                                      <p>{{comment.content}}</p>
                                    </div>
                                  </div>
                                  <div class="added"></div>
                                  <div class="post-comment">
                                    <img class="post-comment-img " src="<%=path_avatar%>/<%=informations.id_user%>/<%=informations.avatar%>" >
                                    <input ng-model="content" id="com-{{$index}}"  type="text" placeholder="Votre commentaire ... "></input>
                                    <input ng-click="addComment($event,event,content);content=''"  type="submit" style="position: absolute; left: -9999px"/>
                                  </div>
                                </div>
                              </form>
                              
                            </div>
                          </div>
                        </div>


                      </div>
                      <div ng-show='reddit.busy'><img src="../images/rolling.svg" width="20px"></div>
                    </div>
                    <!--endrow-->

            </div>
            <%- include layouts/activity.ejs%>
         </div>
      </div>
      
      
      </main>


      <script src="/js/site.js"></script>
      <%- include ../public/js/activity.js %> 
    
   </body>
  
</html>