<!doctype html>
<html data-ng-app="App">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Accueil</title>
        <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css"> 
        <!--  <link rel="stylesheet" href="/css/color2.css">-->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/basic-styles.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/okayNav.css">
        <link rel="stylesheet" href="/css/ngGallery.css">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/jquery.okayNav.js"></script>
        <script src="/js/highcharts.js"></script>
        <script src="/js/exporting.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/ng-infinite-scroll.js"></script>
        <script src="/js/angular-animate.js"></script>
        <script src="/js/ui-bootstrap.js"></script>
        <script src="/js/ngGallery.js"></script>
        <script src="/js/moment.js"></script>
        <script src="/js/croppie.js"></script>
        <script src="/js/moment-with-locales.js"></script>
        <script src="/js/jquery.validate.js"></script>
        <%- include ../public/js/home.js %>




        
    </head>
    <body class="home" data-ng-controller="DemoController as ctrl">
        <%- include layouts/header.ejs %>
        <main>
            <div class="container">
                <div class=" row">
                    <div class="col-md-7">
                        <!--row-->
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="user">
                                    <% if(informations.avatar=="no_avatar"){ %>
                                        <img src="/images/default.svg" class="img-circle">
                                    <%  }else{ %>
                                        <img src="<%=path_avatar%>/<%=informations.id_user%>/<%=informations.avatar%>" class="edit-img">
                                    <% } %>
                                    <span><%=informations.first_name%> <%=informations.last_name%></span>
                                </div>
                            </div>
                        <div class="col-xs-10">
                            <div class="create">
                                <a href="/create-chart"><i class="orange icon-chart xx"></i><span>Créez une courbe</span></a>
                                <div class="ligne"></div>
                                <a href="create-event"><i class="red xx icon-event"></i><span>Créez un événement</span></a>
                            </div>
                        </div>
                    </div>
                    <!--endrow-->
                    <!--row-->
                    <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='3'  >
                      <div class="row" ng-repeat="event in reddit.events ">

                        
                        <div class="col-xs-2">
                          <div class="user">
                            <a href="/{{event.id_user}}/events"><img ng-src="<%=path_avatar%>/{{event.id_user}}/{{event.avatar}}" class="home_img" ></a>
                            <a href="/{{event.id_user}}/events"><span class="home_name">{{event.first_name+' '+event.last_name}}</span></a>
                          </div>
                        </div>

                        <div  class="col-xs-10">
                          <div class="home-event"  >
                            <div class="events row" >

                              <div class="row">
                                <div class="col-md-12">
                                </div>
                                <div class="event-header">
                                  <div class="event-left">
                                    <span class="event-title">{{event.title}}</span>
                                    <span class="event-date">{{'Le '+dateEvent(event.start_date)}}</span>
                                  </div>
                                  <div class="event-right">
                                    <a ng-href="/chart/{{event.chart_id}}" class="event-chart">{{event.chart_name}}</a>
                                    <i class=" icon-friends "></i>
                                    <div ng-init="x = event.note">
                                      <uib-rating ng-model="x" max="5" read-only="true" state-on="'green icon-star-filled'" state-off="'green icon-star-empty'" aria-labelledby="custom-icons-1"></uib-rating>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="event-description col-md-12">
                                  {{event.description}}
                                </div>
                              </div>

                              <div class="row">
                                <div class="event-images" class="popup-gallery">
                                  <div thumbs-num="11">
                                    <ng-gallery images=event.images ></ng-gallery>
                                  </div>
                                </div>
                              </div>

                              <div class="event-comment-like">
                                <div class="like-btn"> <span ng-class="event.isLiked==true ? 'red' : ''" ng-click="addLike($event,event);increment(event)"><i class=" icon-heart "></i></span></div>
                                <div>
                                  <span class="green" ng-model="likeModel">{{event.likes.length}}</span>
                                  <i class=" icon-heart "></i>
                                  <div class="comments-btn" ng-click="show= !show">
                                    <span class="green" ng-model="abc" >{{event.comments.length}}</span>
                                    <i class="icon-comment "></i>
                                  </div>
                                </div>
                              </div>

                              <form  action="/postComment" method="post">
                                <div class="comments" ng-init="show = false" ng-show="show">
                                  <div class="comments-item" ng-repeat="comment in event.comments">
                                    <div class="comments-container">
                                      <img class="comments-img " ng-src="<%=path_avatar%>/{{comment.user[0].id_user}}/{{comment.user[0].avatar}}" >
                                      <h5 class="comments-user-name">{{comment.user[0].first_name}}</h5>
                                      <span class="comments-date">{{formatDate(comment.creation_date )}}</span>
                                      <p>{{comment.content}}</p>
                                    </div>
                                  </div>
                                  <div class="added"></div>
                                  <div class="post-comment">
                                    <img class="post-comment-img " src="<%=path_avatar%>/<%=informations.id_user%>/<%=informations.avatar%>" >
                                    <input ng-model="content" id="com-{{$index}}"  type="text" placeholder="Votre commentaire ... "></input>
                                    <input ng-click="addComment($event,event,content);content=''"  type="submit" style="position: absolute; left: -9999px"/>
                                  </div>
                                </div>
                              </form>
                              
                            </div>
                          </div>
                        </div>

                    <!--
                      <div ng-if=" event.type=='0' " class="col-xs-10">
                        <div id="aaa" class="container1">{{$index}}</div>
                      </div>
                      -->
                      </div>
                      <div ng-show='reddit.busy'>Loading data...</div>
                    </div>
                    <!--endrow-->

            </div>
            <%- include layouts/activity.ejs%>
         </div>
      </div>
      
      
      </main>
      <script src="js/jquery.okayNav.js"></script>
      <script type="text/javascript">
      var navigation = $('#nav-main').okayNav();
      </script>
      <%- include ../public/js/activity.js %>
   </body>
  




</html>