<!doctype html>
<html>
  <head>
    <title>Profil</title>
    <%- include layouts/site.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css" media="screen">
    <link rel="stylesheet" href="/css/default.date.css" media="screen">
    <link rel="stylesheet" href="/css/default.css" media="screen"> <!--date-->
    <link rel="stylesheet" href="/css/bootstrap-tagsinput.css" media="screen">
    <link rel="stylesheet" href="/css/croppie.css" />
    <link rel="stylesheet" href="/css/flags.css" />
    <link rel="stylesheet" href="/css/fileinput.min.css" media="screen">
    <script src="/js/picker.js"></script>
    <!--<script src="/js/legacy.js"></script>-->
    <script src="/js/picker.date.js"></script>
    <script src="/js/canvas-to-blob.min.js"></script>
    <script src="/js/bootstrap-tagsinput.js"></script>
    <script src="/js/bootstrap3-typeahead.js"></script>
    <script src="/js/croppie.js"></script>
    <script src="/js/jquery.flagstrap.js"></script>
    <script src="/js/fileinput.js"></script>
    <%- include ../public/js/facebook.js %>
  </head>
  <body class="home">
    <%- include layouts/header.ejs %>
    <main>
    <div class="container">
      <div class="row">
        <%- include layouts/profileNav.ejs %>
        <div class="col-md-7">
          <div class="box  box-top">
            <span class="box-title"></span>
            <form class=" form-horizontal" action="/editProfile" method="post">

              <div class="form-group">
                <label  class="col-md-offset-1 col-sm-2 control-label">Nom*</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="last_name" value="<%=informations.last_name%>">
                </div>
              </div>

              <div class="form-group">
                <label  class="col-md-offset-1 col-sm-2 control-label">Prénom*</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="first_name" value="<%=informations.first_name%>">
                </div>
              </div>

              <div class="form-group">
                <label  class="col-md-offset-1 col-sm-2 control-label">Mobile</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="phone" value="<%=informations.phone%>">
                </div>
              </div>

              <div class="form-group">
                <label  class="col-md-offset-1 col-sm-2 control-label">Email*</label>
                <div class="col-sm-7">
                  <input type="email" class="form-control" name="email" value="<%=informations.email%>" readonly>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                  <input id="male" type="radio" name="sexe" value="male" ><label for="male"><span><span></span></span>Homme</label>
                  <input id="female" type="radio" name="sexe" value="female" ><label for="female"><span><span></span></span>Femme</label>
                </div>
              </div>

              <div class="form-group">
                <label  class="col-md-offset-1 col-sm-2 control-label">Date de naissance</label>
                <div class="col-sm-7">
                  <input type="text" id="date" name="date" class="form-control datepicker date-style" data-value="<%=informations.birthday%>" >
                </div>
              </div>

              <div class="form-group">
                <label  class="col-md-offset-1 col-sm-2 control-label">Ville</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="address" value="<%=informations.address%>">
                </div>
              </div>

              <div class="form-group country">
                <label  class="col-md-offset-1 col-sm-2 control-label">Pays</label>
                <div class="flagstrap col-sm-7" data-input-name="country" data-selected-country="<%=informations.country%>" ></div>
              </div>

              <div class="form-group">
                <label  class="col-md-offset-1 col-sm-2 control-label"></label>
                <div class="col-sm-7">
                  <button type="submit" id="event-form" name="submit" value="Valider" class="box-button btn btn-default informations_btn">Valider</button>
                </div>
              </div>

            </form>

            <div class="informations-line"></div>

            <% if (notaire.msg == false){ %>
            <form class="form-horizontal" action="/addNotaire" method="post" onkeypress="return event.keyCode != 13;">
              <div class="form-group">

                <label  class="col-md-offset-1 col-sm-2 control-label">Notaire</label>

                <div class="col-sm-7" style="margin-bottom:10px">
                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Nom">
                </div>

                <div class="col-sm-offset-2 col-md-offset-3 col-sm-7 " >
                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Prénom">
                </div>

                <div class="notaire-email col-sm-offset-2 col-md-offset-3 col-sm-7">
                  <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                </div>

              </div>

              <div class="form-group">
                <label  class="col-sm-3 control-label"></label>
                <div class="col-sm-7">
                  <button type="submit" id="notaire" name="submit" value="Valider" class="box-button btn btn-default informations_btn">Valider</button>
                </div>
              </div>

            </form>
            <% } else { %>
            <div class="form-group">
              <label  class="col-md-offset-1 col-sm-2 control-label">Notaire</label>
              
              <table>
                <tr>
                  <td>
                    <span>Nom :</span>
                    <span><%= notaire.data[0].last_name %></span></br>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Prénom :</span>
                    <span><%= notaire.data[0].first_name %></span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span>Email :</span>
                    <span><%= notaire.data[0].email %></span>
                  </td>
                </tr>
              </table>
              <% } %>
           
            <div class="informations-line"></div>
            <div class="form-group leg">
              <label  class="col-md-offset-1 col-sm-2 control-label">Légataire</label>
              <div class="col-sm-7">
                <input type="text"  data-role="tagsinput" class="col-sm-7 form-control typeahead" name="title" id="tag" data-provide="typeahead">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    <script src="/js/site.js"></script>
    <script type="text/javascript" src="/js/crop_avatar.js"></script>
    <%- include ../public/js/profile.js %>
  </body>
</html>