<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <%- include layouts/site.ejs %>
  </head>
  <body class="home">
    <%- include layouts/header.ejs %>
    <main>
    <div class="container">
      <div class="row">
        <%- include layouts/profileNavFriend.ejs %>
        <div class="col-md-7">
          <div class="box  box-top">
            <span class="box-title"></span>
            <img src="/images/chrolia.svg" width="150px">
            <div class="alert alert-warning alert-dismissible" role="alert">
              Pour voir le profil de <%=friends_data.first_name+' '+friends_data.last_name%>,envoyez-lui une invitation.
            </div>
            <button style="float: initial;display: none;    border-color: #fff;" class="btn_not_friend  search_block_add_friend btn" id="addafter" onclick="sendFriendRequest()"><i class=" icon-friends s" ></i><span>Ajouter</span></button>
            <span id="friend" style="display:none" class="btn_not_friend search_block_friend btn"><i class=" icon-friends s" ></i>Amis</span>
            <% if(notif==false) {%>
            <button style="float: initial;    border-color: #fff;" class="btn_not_friend  search_block_add_friend btn" id="add" onclick="sendFriendRequest()"><i class=" icon-friends s" ></i><span>Ajouter</span></button>
            <button style="float: initial;display:none;    border-color: #fff;" class="search_block_add_friend btn" id="request"><i class=" icon-friends s" ></i><span>Demande envoyée</span></button>
            <% } else if(notif==friends_data.id_user) { %>
            <button   onclick="addFriend()" class="response btn_not_friend add-btn search_block_friend btn" ng-show="user.notif_type==2&& user.recipient_id==<%-informations.id_user%> && user.friend == null"  type="submit"><i class=" icon-check s"></i></button>
            <button onclick="deleteFriend()"  class="response btn_not_friend search-follow search_block_friend  btn" ng-show="user.notif_type==2 && user.recipient_id==<%-informations.id_user%> && user.friend == null"  type="submit" ><i class=" icon-close s"></i></button>
            <% } else { %>
            <button style="float: initial;  border-color: #fff;" class="search_block_add_friend btn" id="request"><i class=" icon-friends s" ></i><span>Demande envoyée</span></button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    </main>
    <script src="/js/site.js"></script>
    <%- include ../public/js/not_friend.js %>
  </body>
</html>