<!doctype html>
<html data-ng-app="App">
    <head>
        <%- include layouts/site.ejs %>
        <title>Notifications - Immortality</title>
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/default.date.css" media="screen">
        <script src="/js/angular.min.js"></script>
        <script src="/js/ng-infinite-scroll.js"></script>
        <script src="/js/moment.js"></script>
        <script src="/js/moment-with-locales.js"></script>
        <%- include ../public/js/notification.js %>
        <%- include ../public/js/messages.js %>
    </head>
    <body class="search" data-ng-controller="DemoController">
        <%- include layouts/header.ejs %>
        <main>
        <%- include layouts/messages.ejs %>
        <div class="container">
            <div class="row">
                <div class="box-search col-lg-7 col-lg-offset-1">
                    <span class="box-title">Notifications</span>
                    <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='0'  >
                        <div class=" notification row " style="margin:0px -15px"  ng-repeat="notif in reddit.notifications" ng-class="notif.is_read==0 ? 'read' : '' ">
                            <div ng-if="notif.notif_type=='0'">
                                <div class=" pull-left ">
                                    <a a ng-href="/{{notif.sender.id_user}}/informations"><img ng-src="{{notif.sender.avatar == 'no_avatar' &&  '/images/default.svg' || '<%=path_avatar%>/'+notif.sender.id_user+'/'+notif.sender.avatar }}"></a>
                                    <a ng-href="/{{notif.sender.id_user}}/informations">{{notif.sender.first_name+" "+notif.sender.last_name+" "}}</a><span>aime votre événement</span><a ng-href="/event/{{notif.event.id_event}}">{{" "+notif.event.title}}</a>
                                    <span>{{formatDate(notif.creation_time )}}</span>
                                </div>
                            </div>
                            <div ng-if="notif.notif_type=='1'">
                                <div class=" pull-left">
                                    <a a ng-href="/{{notif.sender.id_user}}/informations"><img ng-src="{{notif.sender.avatar == 'no_avatar' &&  '/images/default.svg' || '<%=path_avatar%>/'+notif.sender.id_user+'/'+notif.sender.avatar }}" ></a>
                                    <a ng-href="/{{notif.sender.id_user}}/informations">{{notif.sender.first_name+" "+notif.sender.last_name+" "}}</a><span>a commenté votre événement</span><a ng-href="/event/{{notif.event.id_event}}">{{" "+notif.event.title}}</a>
                                    <span >{{formatDate(notif.creation_time )}}</span>
                                </div>
                            </div>
                            <div ng-if="notif.notif_type=='2'">
                                <div class=" pull-left">
                                    <a a ng-href="/{{notif.sender.id_user}}/informations"><img ng-src="{{notif.sender.avatar == 'no_avatar' &&  '/images/default.svg' || '<%=path_avatar%>/'+notif.sender.id_user+'/'+notif.sender.avatar }}"></a>
                                    <a a ng-href="/{{notif.sender.id_user}}/informations">{{notif.sender.first_name+" "+notif.sender.last_name+" "}}</a><span>vous a envoyé une demande d'ajout.</span>
                                    <span>{{formatDate(notif.creation_time )}}</span>
                                </div>
                            </div>
                            <div ng-if="notif.notif_type=='3'">
                                <div class=" pull-left">
                                    <a a ng-href="/{{notif.sender.id_user}}/informations"><img ng-src="{{notif.sender.avatar == 'no_avatar' &&  '/images/default.svg' || '<%=path_avatar%>/'+notif.sender.id_user+'/'+notif.sender.avatar }}" ></a>
                                    <a a ng-href="/{{notif.sender.id_user}}/informations">{{notif.sender.first_name+" "+notif.sender.last_name+" "}}</a><span>a accepté votre demande d'ajout.</span>
                                    <span>{{formatDate(notif.creation_time )}}</span>
                                </div>
                            </div>
                        </div>
                        <div ng-show='reddit.busy'><img src="../images/rolling.svg" width="20px"></div>
                    </div>
                </div>
                <%- include layouts/activity.ejs %>
            </div>
        </div>
        </main>
        <script src="/js/site.js"></script>
        <%- include ../public/js/activity.js %>
    </body>
</html>