<!doctype html>
<html data-ng-app="App">
    <head>
        <%- include layouts/site.ejs %>
        <title>Recherche</title>
        <script src="/js/angular.min.js"></script>
        <script src="/js/ng-infinite-scroll.js"></script>
        <%- include ../public/js/activity.js %>
        <%- include ../public/js/search.js %>
    </head>
    <body class="search" data-ng-controller="DemoController">
        <%- include layouts/header.ejs %>
        <main>
        <div class="container">
            <div class="row">
                <div class="box-search col-md-7 col-md-offset-1">
                    <div style="margin: 0px -15px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#personnes" aria-controls="personnes" role="tab" data-toggle="tab">Personnes</a></li>
                            <li role="presentation"><a href="#courbes" aria-controls="courbes" role="tab" data-toggle="tab">Courbes</a></li>
                            <li role="presentation"><a href="#evenements" aria-controls="evenements" role="tab" data-toggle="tab">Evenements</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="personnes">
                                <div infinite-scroll='RedditUsers.nextPage()' infinite-scroll-disabled='RedditUsers.busy' infinite-scroll-distance='3'>
                                    <div class="search_block " ng-init="sent=false;accepted=false;refused==false"  ng-repeat="user in RedditUsers.users" >
                                        <div class="search_block_item">
                                            <!-- <div class=" pull-left search_block_user_info"> -->
                                            <a ng-href="/{{user.id_user}}/events"><img ng-src="{{user.avatar == 'no_avatar' &&  '/images/default.svg' || '<%=path_avatar%>/'+user.id_user+'/'+user.avatar }}" class="search_block_user_img" ></a>
                                            <a ng-href="/{{user.id_user}}/events">
                                                <span class="search_block_user_name">{{user.first_name+' '+user.last_name}}</span></a>
                                                <!--      </div> -->
                                                <!--  <div class="pull-right search_block_user_status"> -->
                                                <span ng-show="(user.friend != null && user.is_immortal!=1) || accepted==true " class="search_block_friend btn"><i class=" icon-friends s" ></i><span>Amis</span></span>
                                                <img src="/images/green-logo.png" ng-show="user.is_immortal == 1" width="15" height="15">
                                                <button ng-show="(user.friend == null && sent == false && user.user_id!=user.id_user && user.notif_type!=2) || refused==true"  ng-click="sendFriendRequest($event,user);sent=true" class="search_block_add_friend btn"><i class=" icon-friends s" ></i><span>Ajouter</span></button>
                                                <span  ng-show="sent || (user.notif_type==2 && user.sender_id==<%-informations.id_user%> && user.friend == null)" class="search_block_friend_request add-btn btn"><i class=" icon-friends s"></i><span>Demande envoyée</span></span>
                                                <div ng-hide="refused || accepted" style="position: absolute;top: 72px;right: 0px;">
                                                    <form action="/addFriend" method="post" style="display:inline-block;">
                                                        <button style="margin-right: -20px;" class="add-btn search_block_friend btn" ng-show="user.notif_type==2&& user.recipient_id==<%-informations.id_user%> && user.friend == null"  ng-click="addFriend($event,user);accepted=true" type="submit"><i class=" icon-check s"></i></button>
                                                    </form>
                                                    <form action="/deleteFriend" method="post" style="display:inline-block;">
                                                        <button class=" search-follow search_block_friend  btn" ng-show="user.notif_type==2 && user.recipient_id==<%-informations.id_user%> && user.friend == null"  type="submit" ng-click="deleteFriend($event,user);refused=true"><i class=" icon-close s"></i></button>
                                                    </form>
                                                </div>
                                                <!--   </div> -->
                                            </div>
                                        </div>
                                        <div ng-show='reddit.busy'><img src="../images/rolling.svg" width="20px"></div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="courbes">
                                    <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='3'  >
                                        <div class="search-item row" ng-repeat="chart in reddit.charts">
                                            <div class=" pull-left">
                                                <div class="search-item-position">
                                                    <a ng-href="/chart/{{chart.id_chart}}">{{chart.title}}</a>
                                                    <span class="item-icon"><i class=" icon-chart "></i>{{chart.first_name+' '+chart.last_name}}</span>
                                                </div>
                                            </div>
                                            
                                            <div ng-if="(chart.user_id != <%-informations.id_user%> && chart.id_subscription==null)" class="pull-right">
                                                <button class="search-follow btn" ng-click="followChart($event,chart)"><i class=" icon-public s"></i>Suivre</button>
                                            </div>

                                             <div ng-if="(chart.user_id != <%-informations.id_user%> && chart.id_subscription !=null)" class="pull-right">
                                               <button class="search-follow btn" ><i class=" icon-public s"></i>Abonné</button>
                                            </div>
                                            
                                        </div>
                                        <div ng-show='reddit.busy'><img src="../images/rolling.svg" width="20px"></div>
                                    </div>
                                </div>
                                <!--evenements-->
                                <div role="tabpanel" class="tab-pane" id="evenements">
                                    
                                    <div infinite-scroll='redditEvents.nextPage()' infinite-scroll-disabled='redditEvents.busy' infinite-scroll-distance='20'  >
                                        <div class="search-item row" ng-repeat="event in redditEvents.events">
                                            <div class=" pull-left search-item-position">
                                                <a ng-href="/event/{{event.id_event}}">{{event.title}}</a>
                                                <span class="item-icon"><i class=" icon-event "></i>Evenement</span>
                                            </div>
                                            <!--
                                            <div class="pull-right search-item-position">

                                                <button class="search-follow btn" ><i class=" icon-public s"></i><span>Suivre</span></button>
                                           
                                            </div>
                                            -->
                                        </div>
                                        <div ng-show='reddit.busy'><img src="../images/rolling.svg" width="20px"></div>
                                    </div>
                                </div>
                                <!--fin evenements-->
                            </div>
                        </div>
                        
                    </div>
                    <%- include layouts/activity.ejs %>
                </div>
            </div>
            </main>
            <script src="/js/site.js"></script>

        </body>
    </html>